LogLevel VERBOSE
ChallengeResponseAuthentication no
UsePAM no
DisableForwarding yes
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp internal-sftp
DebianBanner no
PermitRootLogin yes
AllowUsers root
ForceCommand internal-sftp
